# Frontend Environment
PORT=3000
NODE_ENV=development
BASE_PATH=/web
APP_URL=http://localhost:3000

# Inter-service URLs
FRONTEND_EXTERNAL_URL=http://localhost:3000/web
BACKEND_EXTERNAL_URL=http://localhost:3000/api
GATEWAY_EXTERNAL_URL=http://localhost:3000

# Public Client Env
NEXT_PUBLIC_BASE_PATH=/web
NEXT_PUBLIC_FRONTEND_EXTERNAL_URL=http://localhost:3000/web
NEXT_PUBLIC_BACKEND_EXTERNAL_URL=http://localhost:3000/api
NEXT_PUBLIC_GATEWAY_EXTERNAL_URL=http://localhost:3000
